# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

#IDE configs
.classpath
.project
.settings
/*.launch
/*.tmproj

#Idea
*.iml
.idea/

#Maven
target/

stacktrace.log

# project release file
*.war

